.card-1 {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-1-bg.png');
  background-size: cover;
}

.card-2 {
  display: flex;
  justify-content: flex-end;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-2-bg.png');
  background-size: cover;
}

.card-3 {
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-3-bg.png');
  background-size: cover;
}

/* Write your code here. */
.heading {
  font-family: 'Roboto';
  font-size: 20px;
  color: #326a9d;
}

.para {
  font-family: 'Roboto';
  font-size: 15px;
}

.list-item {
  margin-bottom: 10px;
  list-style: none;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  border-color: #cbced2;
}

.container {
  padding: 10px;
}

.button {
  border-width: 3px;
  border-style: solid;
  border-color: #326a9d;
  color: #326a9d;
  background-color: transparent;
  font-family: 'Roboto';
  font-weight: bold;
  border-radius: 4px;
  padding: 7px;
}
