/* Write your CSS here */
.bg-container {
  background-color: #f1f5f8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border-radius: 4px;
  border-width: 0px;
}
