/* Write your code here. */
.listItem {
  list-style-type: none;
  padding: 10px;
  border: 1px solid #d7dae6;
  margin-bottom: 5px;
}

.item1 {
  display: flex;
  justify-content: space-between;
}

.itemheading {
  font-family: 'Roboto';
  font-size: 30px;
}

.button {
  background-color: transparent;
  border: 0px;
  outline: none;
  cursor: pointer;
}
