* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Write CSS code here */
.bg-container {
  background-color: #f4faff;
  padding: 10px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sub-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.heading {
  font-family: 'Roboto';
  font-size: 40px;
}

.para {
  font-family: 'Roboto';
  font-size: 17px;
  color: #64748b;
}

.unordered-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
