/* Write your CSS here */
.bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/planets-app/planets-bg-img.png');
  background-size: cover;
  min-height: 100vh;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading {
  font-family: 'Roboto';
  font-size: 30px;
  color: #05acff;
}

.slider-container {
  display: flex;
  width: 80%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.slider {
  width: 80%;
}
