/* Write your CSS here */
.listitemtab {
  margin-right: 10px;
}

.tabbutton {
  color: #7b8794;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 20px;
  border-bottom: 2px solid #dfe2e5;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: transparent;
  padding: 10px;
  cursor: pointer;
  outline: none;
}

.active {
  border-bottom: 3px solid #2563eb;
  color: #2563eb;
}
