/* Write your code here. */
.container1 {
}

.container2 {
  padding: 60px;
}

.container3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 50%;
}

.unorderedlist {
  padding: 10px;
}
