.bg-container {
  background-color: #121212;
  min-height: 100vh;
  padding: 2px;
}

.sub-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  background-color: #272727;
  padding: 30px;
  width: 390px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  border-radius: 5px;
}

.logo {
  width: 130px;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.label-text {
  font-family: 'Roboto';
  color: white;
  font-size: 10px;
  font-weight: 500;
  margin-bottom: 5px;
}

.input-style {
  background-color: transparent;
  border: 0.1px solid #b6c5ff;
  padding: 10px;
  font-family: 'Roboto';
  font-size: 12px;
  color: white;
  font-weight: 300;
  width: 100%;
}

.button-container {
  width: 100%;
}

.form-button {
  background-color: #6366f1;
  padding: 10px;
  border: 0px;
  color: white;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
}

.error-msg {
  color: #ff0b37;
  font-family: 'Roboto';
  font-size: 10px;
}
