/* Write your CSS here */
.list-item {
  list-style-type: none;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: #f8f8ff;
  border-radius: 10px;
  padding: 10px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.avatar-img {
  width: 100px;
}

.icon {
  width: 30px;
  margin-right: 10px;
}

.icon-container {
  display: flex;
  align-items: center;
}

.name-heading {
  font-family: 'Roboto';
  color: #e73959;
  font-size: 30px;
  font-weight: 500;
}
