/* Write your CSS here */
.layout-container {
  display: flex;
  justify-content: center;
}

.layout-sub-container {
  width: 90%;
  margin-top: 40px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
}
